*{
    padding:0;
    margin:0;
    list-style:none;
}
.container
{
    height: 100vh;
    width: 100%;
 /* border:1px solid; */
 background-image: url('background-01.jpg');
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   

}
.nav
{
    height: 14vh;
    width:100%;
    /* border: 1px solid black; */
    background-color: rgba(255,255,255,.5); 
    display: flex;
    justify-content: space-around;
    align-items: center ;
    color:white;

}
.nav ul
{
    height: 10vh;
    width:50%;
    /* border: 1px solid black; */
    display: flex;
    color:white;
    justify-content: space-around;
    align-items: center;
}
.nav ul :nth-child(1){
    color:orange
}
.child2
{
    height: 80vh;
    width: 60%;
    /* border:1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    line-height: 3.2rem;
}
.child2 h1
{
    color:white;
    text-transform: uppercase;
    font-size:3rem;

}
button{
height:6vh;
    width:18%;
    background:orange;
    border-radius:15px;
    border:none;
    color:white
}
.child2 h2{
font-size:1.6rem;
}
.page2
{
    height: 100vh;
    width: 100%;
 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.s1
{
    height:40vh;
    width:25%;
    display: flex;
    flex-direction: column;
    justify-content: center;


    
}
.s1 span
{
align-self: flex-start;
color:orange;
text-transform: uppercase;
}
.s1 img
{
    align-self: flex-start;
}
.s1 p
{
align-self: flex-start;
color:silver;
}
.s1 h1
{
    align-self: flex-start;
    text-transform: uppercase;
    font-weight:lighter;
}
.page3
{
    width:100%;
    height:100vh;
   
    display:flex;
   
}
.page-left
{
    width:49%;
    height:100vh;
    background-color:whitesmoke;
    display:flex;
   justify-content: flex-end;
    
}
.box
{
    width:75%;
    height:80vh;
    justify-content:flex-end;
    align-items:center;
    position:relative;
    top:90px 
} 
.box h1{
text-transform: uppercase;

}
.box p{
    color:silver;
}

.left-1{
    width:90%;
    height:15vh;
    background:white;
    border-radius:20px;
    margin-top:20px;
    display:flex;
    align-items: center; 
    flex-direction:row;  
    display: flex;
align-items:center
}
.left-1 img{
    height:8vh;
    width:8vh;
    margin-left:15px;
}
.left-1 h2{
    margin-left:15px;
    text-transform: uppercase;
}
.btn-2{
    height:6vh;
    width:25%;
    color:white;
    margin-top:20px;
    text-transform: capitalize;
    background:orange;
    border-radius:15px;
    font-size:1.3rem;
    display:flex;
    justify-content: center;
    align-items:center;
}
.page-right
{
    
    width:49%;
    height:100vh;
    background:rgb(230, 224, 224);
    line-height:1.7rem;
    display:flex;
    justify-content:flex-end;
    align-items: center;
}
.right-one{
    width:90%;
    height:80%;
    align-items: center;
  
}
.right-one h1{
    text-transform: uppercase;
    margin-bottom:20px
}
.right-one p{
    color:grey;
    font-size:1.1rem;
    
}
.right-1{
    width:40%;
    height:20vh;
    display:flex;
    color:grey;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
}
.right-1 img{
    height:10vh;
    width:10vh;
    border-radius: 50%;
    margin-bottom:20px
}
.right-2{
    width:60%;
    height:50%;
    margin-bottom:30px

}
.right-3{
    height:37%;
    width:80%;
}
.page4
{
    width:100%;
    height:100vh;
    
text-align:center;
display:flex;
flex-direction:column;
align-items:center

}
.page4 h1
{
    text-transform: uppercase;
    margin-top:40px;
}
.page4 p
{
    color:silver;
}
.boxes
{

    width:80%;
    height:80vh;
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;

}
.a
{
    width:33%;
    height:80vh;
   
    height:80%;
    width:33%;
   
}
.a h1
{
    font-size:1.5rem;
    line-height:30px;
}
.a p{
    line-height:25px;
}
.btn-3{
    height:6vh;
    width:28%;
    color:white;
    margin-top:20px;
    margin-left:30px;
    text-transform: capitalize;
    background:orange;
    border-radius:15px;
    font-size:1.1rem;
    display:flex;
    justify-content: center;
    align-items:center;
}
.b
{
    width:33%;
    height:80vh;
    margin-top:90px;
    display:flex;
    flex-direction:column;
align-items:center;

}
.b h1
{
display:flex;
align-self: flex-start;
font-weight:lighter;
line-height: 3rem;
}
.b p
{
   
color:silver;
margin-top:20px;
line-height: 1.5rem;


}
.b span
{
    text-transform: capitalize;
    font-weight:bold;
    color:orange;
    display:flex;
    align-self: flex-start;
    margin-top:20px;
}
.c
{
    width:33%;
    height:80vh;
    margin-top:90px;
    display:flex;
    flex-direction:column;
align-items:center;

}
.c h1
{
display:flex;
align-self: flex-start;
font-weight:lighter;
line-height: 3rem;
}
.c p
{
   
color:silver;
margin-top:20px;
line-height: 1.5rem;


}
.c span
{
    text-transform: capitalize;
    font-weight:bold;
    color:orange;
    display:flex;
    align-self: flex-start;
    margin-top:20px;
}
.page5
{
    width:100%;
    height:90vh;
   background:rgb(39, 38, 38);
   display:flex;
   align-items:center;
   border-top:6px solid orange;
}
.foot1
{
    width:33%;
    height:70vh;
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left:20px;
  
   
}
.foot1 h2
{
    text-transform: capitalize;
    margin-left:19px;
    font-weight:normal;
    text-transform:uppercase;
    

}
.loc
{
    width:100%;
    height:50vh;
   
    /* display:flex;
align-items:center;o
flex-direction: column;
} */
}
.loc1
{
width:100%;
height:10vh;
border-bottom:1px solid silver;
display:flex;
/* flex-direction:column; */
align-items:center;

}

.loc1 p
{
    color:silver;
    font-size:20px;
    margin-left:20px;
}
.loc1 i
{
    font-size:15px;
    color:silver;
}
.loc2 ul{
    width:100%;
    height:20vh;
    display:flex;
    /* flex-direction: row; */
    /* border:1px solid white; */
    justify-content: space-around; 
    align-items: center;
}
.loc2 i{
    background:orange;
    padding:10px;
    padding-left:10px;
    border:1px solid white;
    width:30px;
    height:30px;
    font-size:25px;
    border-radius: 15px;
}
.foot2
{
    width:33%;
    height:70vh;
    /* border:1px solid white; */
    display:flex;
    flex-direction:column;
    align-items: center;
    /* justify-content: space-around; */

    color:white;
}
.foot2 h2{
color:white;
text-transform: uppercase;
margin-top:30px;
font-weight:normal;
}

.text-five h2{
    color:orange;
    text-transform: uppercase;

}
.text-five p
{
    color:silver;
    font-size:23px;
}
.text-five p1
{
    color:silver;
}

.locat
{
width:100%;
height:40vh;
/* border:1px solid; */
color:white;
margin-top:30px;
}
.text-five
{
    border:1px white;
    margin-left:30px;
}

.foot3
{
    width:33%;
    height:70vh;
  
    display:flex;
    flex-direction:column;
    align-items: center;
}
.foot3 h2{
color:white;
text-transform: uppercase;
margin-top:30px;
font-weight:normal;
}
.foot3 p
{
    color:grey;
   margin-left:30px;
    margin-top:30px;
    font-size:20px;
    margin-top:60px;
}
.b-1{
    width:70%;
    background:rgb(32, 32, 32);
    border-radius:10px;
    height:5vh;
    font-size:1.3rem;
    padding-left:30px;
    margin-top:20px;
    color:grey;
    padding-top:3px;
    margin-right:30px;

 }
 .btn-4{
    height:6vh;
    width:28%;
    color:white;
    margin-top:20px;
    margin-right:200px;
    text-transform: capitalize;
    background:orange;
    border-radius:15px;
    font-size:1.1rem;
    display:flex;
    justify-content: center;
    align-items:center;
}
.page6
{
    width:100%;
    height:60vh;
    color: white;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
    
    background:rgb(3, 3, 3);

}
.child123
{
    width: 100%;
    height: 10vh;
    /* border:1px solid white; */
    display: flex;
    justify-content: space-around;
}

.img1
{
    display: flex;
    flex-direction:column;
    align-items: center;
}
